/*** reset ***/
* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

/*** common ***/
body {
    /* font montserrat */
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    
    height: 100vh;
}

main {
    height: calc(100% - 90px);
    color: #5c5c5c;
}

.border {
    border: 1px dashed red;
}

.hide {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
}

/*** main ***/
#main-container {
    height: 100%;
    display: flex;
}

.left-box {
    width: 55px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 12px;
}


nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

span {
    font-weight: 600;
}
.logo-small {
    margin-bottom: 30px;
}

.logo-big {
    margin-bottom: 60px;
}

.home,
.search,
.library {
    width: 100%;
    display: flex;
    align-items: center;
}


.right-box {
    width: calc(100% - 55px);
}

.playlist strong {
    text-transform: uppercase;
    color: #ffffff;
}

.create-playlist {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#add-button {
    padding: 15px 20px;
    font-size: 25px;
    color: #000000;
    background-color: #5c5c5c;
}

.playlist ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*** footer ***/
#f-container {
    height: 90px;
    background-color: #282828;
}

/*** media queries  ***/
@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
    #f-container {
        height: 170px;
    }
    
    #main-container .left-box {
        width: 450px;
    }
    
    .logo-small {
        display: none;
    }
    
    .logo-big {
        display: block;
    }
    
    nav {
        width: 50px;
        gap: 25px;
        margin-bottom: 70px;
    }
    
    nav img {
        margin-right: 10px;
    }
    
    .hide {
        display: revert;
        flex-shrink: 0;
    }
}