/*** reset ***/
* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

/*** common ***/
body {
    /* font montserrat */
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;

    height: 100vh;
}

main {
    height: calc(100% - 90px);
    color: #5c5c5c;
}

.border {
    border: 1px dashed red;
}

.hide {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

h3,
h5,
.f-m-box,
.f-r-box {
    color: #ffffff;
}

h4 {
    margin-bottom: 20px;
}


/*** main ***/
#main-container {
    height: 100%;
    display: flex;
}

.left-box {
    width: 50px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 12px;
}

.menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

span,
li {
    font-weight: 600;
}

.logo-small {
    margin-bottom: 30px;
}

.logo-big {
    margin-bottom: 60px;
}

.home,
.search,
.library {
    width: 100%;
    display: flex;
    align-items: center;
}

.home img,
.search img,
.library img,
.lower-container img {
    opacity: 0.5;
}



.playlist strong {
    text-transform: uppercase;
    color: #ffffff;
}

.create-playlist {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#add-button {
    padding: 15px 20px;
    font-size: 25px;
    color: #000000;
    background-color: #5c5c5c;
}

.playlist ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
}

.lower-menu {
    display: flex;
    flex-direction: column;
}

.lower-container {
    margin-bottom: 10px;
}

.lower-menu hr {
    border: 1px solid #9a9a9a;
    width: 95%;
    margin: 0 auto 10px;
}

.lower-container .user {
    color: #ffffff
}

.profile-icon {
    padding: 5px 5px;
    background-color: #696969;
    border-radius: 50%;
}


/* right container */

.right-box {
    width: calc(100% - 50px);
    background-color: #141922;
    overflow: scroll;
}

.btn-cont {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    right: 0;
}

#upgrade-btn {
    text-transform: uppercase;
    border: 1px solid #ffffff;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 50px;
    margin: 30px;
    font-size: small;
}

#upgrade-btn:hover {
    scale: 110%;
}

.right-box .menu-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
    text-transform: uppercase;
}

.right-box .menu-list li {
    margin: 15px;
}

.container {
    padding: 10px;

}

.box-cont {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.box {
    position: relative;
}


h3,
h3+span {
    text-align: center;
    font-size: small;
    display: block;
}

.round img {
    border-radius: 50%;
}

.right-box img {
    margin-bottom: 5px;
}

.album-hover {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    font-size: 30px;

}

.box:hover .album-hover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box.round:hover .album-hover {
    border-radius: 50%;
}



/*** footer ***/

#f-container {
    height: 90px;
    background-color: #282828;
    display: flex;
}



.f-l-box {
    display: flex;
    align-items: center;
    color: #5c5c5c;
}

.f-l-box,
.f-r-box {
    flex-shrink: 2;
    padding: 0 10px;
}

.f-m-box {
    flex-grow: 1;
}

.f-m-box-upper,
.f-m-box-lower {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
}

.l-left {
    width: 50px;
    height: 50px;
}


.l-middle {
    margin: 0 10px 0 10px;
}

.l-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.f-r-box {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}


.bar-container {
    width: 70px;
    position: relative;
}

.empty-bar {
    background-color: #5a5a5a;
    padding: 2px;
    width: 100%;
    border-radius: 3px;
}

.w-bar {
    background-color: #ffffff;
    padding: 2px;
    width: 30%;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
}

.adapt-bar-container {
    width: 70%;
    position: relative;
}

.play-btn {
    border: 3px solid #ffffff;
    padding: 5px 7px;
    border-radius: 50%;
}

footer .play-btn:hover {
    scale: 110%;
}



/*** media queries  ***/

/* extra small */
@media (max-width: 576px) {

    h2 {
        font-size: 20px;
    }

    .box {
        width: calc((100% - 10px) / 2);
    }


}

/* small */
@media (min-width: 576px) {

    #main-container .left-box {
        width: 230px;
    }

    .right-box {
        width: calc(100% - 230px);
    }

    .logo-small {
        display: none;
    }

    .logo-big {
        display: block;
    }

    nav {
        width: 50px;
        gap: 15px;
        margin-bottom: 70px;
    }

    nav img,
    .lower-menu img {
        margin-right: 10px;
        width: revert;
    }

    .hide {
        display: revert;
        flex-shrink: 0;
    }

    .lower-container {
        width: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .lower-menu {
        align-items: revert;
    }

    .profile-icon {
        padding: 1px 3px;
    }

    .box {
        width: calc((100% - 10px) / 2);
    }

    .play-btn {
        margin: 0 10px;
    }

    .f-r-box {
        gap: 15px;
    }

    .f-m-box-upper,
    .f-m-box-lower {
        gap: 20px;
    }
}

/* medium */
@media (min-width: 768px) {

    .box {
        width: calc((100% - 30px) / 4);
    }

    .l-right {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .l-middle {
        margin: 0 40px 0 10px;
    }


}






/* large */
@media (min-width: 992px) {

    .box {
        width: calc((100% - 50px) / 6);
    }
}